{% extends 'base.html.twig' %}

{% block body %}
    <h1>home page</h1>

    <p>
        Welcome to the home page
    </p>

    <p>
        <a href="{{ path('recipe_list') }}">
            Show Recipes
        </a>
    </p>

    <p>
        <a href="{{ path('recipe_new_form') }}">
            Create NEW Recipe
        </a>
    </p>
{% endblock %}