{% extends 'base.html.twig' %}

{% block body %}
    <h1>Whoops! Something went wrong</h1>

    <h2>404 - not found error</h2>

    <p>
        Sorry, the item/page you were looking for could not be found.
    </p>

{% endblock %}